<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-light navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img
        id="catmania-logo"
        src="https://6156user.s3.us-east-2.amazonaws.com/catmania-logo.png"
        alt="Catmania Logo"
        draggable="false"
        height="60"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link mx-2" href="https://d25a811kxhsede.cloudfront.net/index_user.html"><i class="fas fa-plus-circle pe-2"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="https://d25a811kxhsede.cloudfront.net/profile.html"><i class="fas fa-plus-circle pe-2"></i>Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="https://d25a811kxhsede.cloudfront.net/profile.html"><i class="fas fa-plus-circle pe-2"></i>Breeders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="https://d25a811kxhsede.cloudfront.net/profile.html"><i class="fas fa-plus-circle pe-2"></i>Cats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="https://d25a811kxhsede.cloudfront.net/formula.html"><i class="fas fa-bell pe-2"></i>Posts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar End-->
<div class="formula_content">
    <div class="page-header" id="page_header">
        <h1>CAT LIST</h1>
    </div>
</div>
<br>
<br>
<h3>Cat List: </h3>
<div id="catList"></div>
<div id="pagination"></div>
</body>
<script type="text/javascript">
    // let curServer = "https://d25a811kxhsede.cloudfront.net/dev";
    let curServer = "https://d25a811kxhsede.cloudfront.net/dev";
    let path =  window.location.href.split("path=")[1];
    console.log(path);
    if (typeof path == "undefined"){
        path = "/getcats";
    }

    window.onload = function () {
        $.ajax({
            url: curServer + path,
            type: 'GET',
            cache: false,
            processData: false,
            contentType: 'application/json',
            success: function (r) {
                console.log(r)
                informationInjection(r);
                paginationInjection(r);
            }
        })
    }

    function informationInjection(r) {

        document.getElementById("catList").innerHTML = "";
        for (let i = 0; i < r["message"]["data"].length; i++) {
            let cat_info = r["message"]["data"][i];
            console.log(cat_info['breeder']);
            let cat_infoDiv = document.createElement("div");
            cat_infoDiv.innerHTML = constructIssue(cat_info) + "<br>";
            document.getElementById("catList").appendChild(cat_infoDiv);
        }
    }

    function paginationInjection(r) {
        document.getElementById("pagination").innerHTML = "";
        let links = r["message"]["links"]

        document.getElementById("pagination").innerHTML += "<a href=\"cat_profile.html?path=" + links[1]["href"]+"\">" + "[" + links[1]["rel"] + "]"  + "</a>"+ " ";

        document.getElementById("pagination").innerHTML += "<a href=\"cat_profile.html?path=" + links[2]["href"]+"\">" + "[" + links[2]["rel"] + "]"  + "</a>"+ " ";
    }

    function constructIssue(issue) {
        return "<a href=\"cat_detail.html?id=" + issue["id"] + "\">" + issue["id"] + "</a>"+" ";
    }
</script>
</html>